
body
{
    background-color:black;
}




.b1
{
    width:300px;
    height:300px;
    border:solid 5px black;
    background-color:#e1221c;
    position:absolute;
    margin:180px auto auto 560px;

}


.b2
{
    width:50%;
    height:50%;
    border:solid 5px white;
    background-color:#1e41db;
    position:relative;
   /* margin:20% 30% 20% 20%; */
  margin:25% 15% auto 23%;

}


